<center>
<h1>My Comments</h1>
<h1>____________</h1>

<% i = 0%>
<% current_usuario.comentario.each do |comentario|%>
	<% i+=1%>
<%end%>

<% if i != 0%>
	<% current_usuario.comentario.each do |comentario|%>
		<h3>Thread</h3>
		<h5><%= comentario.topico.titulo %></h5>
		<h5>_________________________</h5>
		<h5><%= comentario.titulo %></h5>
		<h7><%= comentario.corpo %></h7>
		<h5>________________________</h5>
	<% end %>
<%else%>
	<h3>You don't have any comments</h3>
	<center><a class="btn btn-outline-success" href="/topicos" role="button">Start Now</a></center>
<%end%>
</center>