<center>
<% if usuario_signed_in? %>
	<h1>Bem Vindo</h1>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/1024px-Yes_Check_Circle.svg.png" width="350" height="350" class="d-inline-block align-center" alt="Perfil">
	<br>
	<br>
	<a class="btn btn-outline-success btn-lg" href="/usuarios/edit" role="button">Editar Perfil</a>
<% else %>
	<h1>NOT LOGGED IN YET</h1>
	<img src="https://emd-public.nyc3.digitaloceanspaces.com/eusouempreendedor-uploads/X.png" width="350" height="350" class="d-inline-block align-center" alt="Perfil">
<% end %>
<br>   
</center>

