<center>
<h1>My Threads</h1>

<% i = 0%>
<% current_usuario.topico.each do |topico|%>
	<% i+=1%>
<%end%>

<% if i != 0%>
	<% current_usuario.topico.each do |topico|%>
		<h3>Title:</h3>
		<h4><%= topico.titulo %></h4>
		<%= link_to 'Ver mais', topico, :class => "btn btn-outline-info btn-sm" %>
	<% end %>
<%else%>
	<h3>You don't have any threads</h3>
	<center><a class="btn btn-outline-success" href="/topicos/new" role="button">Start Now</a></center>
<%end%>
</center>