<center><%= simple_form_for @comentario, url: {action: "create"}, html: {class: "comentario"} do |form| %>
<% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <%end%>
  <div class="field">
    <b>Titulo</b>
    <br>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <b>Texto</b>
    <br>
    <%= form.text_area :corpo, size: "50x6" %>
  </div>

  <div class="field">
    <%= form.input :usuario_id, :as => :hidden, :input_html => { :value => current_usuario.id } %>
  </div>

  <div class="field">
    <%= form.input :topico_id, :as => :hidden, :input_html => { :value => $page } %>
  </div>


  <div class="actions">
     <%= form.submit( class: "btn btn-outline-success") %>
  </div>
<% end %>

