<p id="notice"><%= notice %></p>

<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Corpo</th>
      <th>Topico</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.titulo %></td>
        <td><%= comentario.corpo %></td>
        <td><%= comentario.topico.titulo %></td>
        <td><%= comentario.usuario.email %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


