<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @comentario.titulo %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @comentario.corpo %>
</p>

<p>
  <strong>Topico:</strong>
  <%= @comentario.topico %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', topico_comentarios_path(@topico) %>
