<center><%= form_with(model: topico, local: true) do |form| %>
  <% if topico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topico.errors.count, "error") %> prohibited this topico from being saved:</h2>

      <ul>
      <% topico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Title</b>
    <br>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <b>Game</b>
    <br>
    <%= form.text_field :jogo %>
  </div>

  <div class="field">
    <b>Genre</b>
    <br>
    <%= form.text_field :genero %>
  </div>

  <div class="field">
    <b>Text</b>
    <br>
    <%= form.text_area :corpo, size: "100x12" %>
  </div>

  <div class="actions">
    <%= form.submit( class: "btn btn-outline-success") %>
  </div>
<% end %>
</center>
