<center><h1>Threads</h1></center>
 <center> <tbody>
    <h2>Titles:</h2>
    <% @topicos.each do |topico| %>
      <tr>
        <td>
        <h4><%= topico.titulo %> </h4>
        <br>
        <%= link_to 'Show More', topico, :class => "btn btn-outline-info btn-sm" %>
        <br>
        <h4>_____________________________________________________________</h4>
        <br>
        <br>
      </tr>
    <% end %>
  </tbody></center>

<br>
<br>
<br>

<% if usuario_signed_in? %>
<center><a class="btn btn-outline-success" href="/topicos/new" role="button">New Thread</a></center>
<% end %>