<center><p id="notice"><%= notice %></p>
<% $page = @topico.id%>

<p>
  <h1>Title:
    <% if usuario_signed_in? %>
    <% if @topico.usuario.id == current_usuario.id || current_usuario.isAdmin? %> <%= link_to 'Edit', edit_topico_path(@topico), :class => "btn btn-outline-success btn-sm" %>  <%= link_to 'Delete', @topico, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger btn-sm"%><%end%>
    <%end%>
    <%= link_to 'Back', topicos_path, :class => "btn btn-outline-primary btn-sm"%></h1>
    <h3><%= @topico.titulo %></h3>
</p>

<p>
  <strong>Game:</strong>
  <br>
  <%= @topico.jogo %>
</p>

<p>
  <strong>Genre:</strong>
  <br>
  <%= @topico.genero %>
</p>

<p>
  <strong>Post:</strong>
  <br>
  <%= @topico.corpo %>
</p>
 <% if usuario_signed_in? %>
<h1>Comments  <%= link_to 'Comment', new_topico_comentario_path(@topico), :class => "btn btn-outline-success btn-sm" %></h1>
<% end %>
<% @topico.comentarios.each do |comment| %>
  <h6>User:
    <%= comment.usuario.email %>
    </h6>
	<%= comment.titulo %>
  <br>
  <h7>_____________</h7>
  <br>
  <%= comment.corpo %>
	<br>
  <br><br>
<%end%>
</center>