<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img src="http://aux.iconspalace.com/uploads/gamehub-icon-256.png" width="40" height="40" class="d-inline-block align-center" alt="Logo">
    <span class="navbar-brand" href="#">GameHub</span>
    </span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topicos">Threads</a>
      </li>
      <% if usuario_signed_in? %>
        <li class="nav-item">
         <a class="nav-link" href="/front_page/threads">My Threads</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="/front_page/comments">My Comments</a>
        </li>
        <% if current_usuario.isAdmin? %>
          <li class="nav-item">
            <a class="nav-link" href="/front_page/users">Manage Users</a>
          </li>
        <% end %>
      <%end%>
    </ul>
    <% if usuario_signed_in? %>
        <%= link_to('Logout', destroy_usuario_session_path, method: :delete, :class => "btn btn-outline-danger btn-sm" ) %>
      <% else %>
        <a class="btn btn-outline-success" href="/usuarios/sign_in" role="button">Log In</a>
    <% end %>
  </div>
</nav>